In [1]:
#build a class to scrape sec reports 

from secscraper import *

sc = secscraper()

nasdaq = sc.nasdaq

nasdaq.head()

nasdaq['Ticker'].unique()

array(['ATVI', 'ADBE', 'AMD', 'ALXN', 'ALGN', 'GOOGL', 'GOOG', 'AMZN',
       'AEP', 'AMGN', 'ADI', 'ANSS', 'AAPL', 'AMAT', 'ASML', 'TEAM',
       'ADSK', 'ADP', 'BIDU', 'BIIB', 'BKNG', 'AVGO', 'CDNS', 'CDW',
       'CERN', 'CHTR', 'CHKP', 'CTAS', 'CSCO', 'CTSH', 'CMCSA', 'CPRT',
       'COST', 'CSX', 'DXCM', 'DOCU', 'DLTR', 'EBAY', 'EA', 'EXC', 'FB',
       'FAST', 'FISV', 'FOXA', 'FOX', 'GILD', 'IDXX', 'ILMN', 'INCY',
       'INTC', 'INTU', 'ISRG', 'JD', 'KDP', 'KLAC', 'KHC', 'LRCX', 'LULU',
       'MAR', 'MRVL', 'MTCH', 'MXIM', 'MELI', 'MCHP', 'MU', 'MSFT',
       'MRNA', 'MDLZ', 'MNST', 'NTES', 'NFLX', 'NVDA', 'NXPI', 'ORLY',
       'OKTA', 'PCAR', 'PAYX', 'PYPL', 'PTON', 'PEP', 'PDD', 'QCOM',
       'REGN', 'ROST', 'SGEN', 'SIRI', 'SWKS', 'SPLK', 'SBUX', 'SNPS',
       'TMUS', 'TSLA', 'TXN', 'TCOM', 'VRSN', 'VRSK', 'VRTX', 'WBA',
       'WDAY', 'XEL', 'XLNX', 'ZM'], dtype=object)

In [2]:
TSLA_10Q = sc.get_report('TSLA')
TSLA_10K = sc.get_report('TSLA', key = '10-K')

In [3]:
import pandas as pd

In [4]:
def scrape_10_k(dfs):
    keys = pd.Series(dfs.keys())
    keys = keys.loc[[1,3,4,7]]
    
    dfs = [dfs[key] for key in keys]
    
    return dfs

In [5]:
def scrape_10_Q(dfs):
    keys = pd.Series(dfs.keys())
    keys = keys.loc[[1,3,5,8]]
    
    dfs = [dfs[key] for key in keys]
    
    return dfs

In [6]:
RATIOS = pd.read_excel('Financial Ratios for FA.xlsx',
                      engine='openpyxl')

In [9]:
TSLA = scrape_10_Q(TSLA_10Q)

In [10]:
TSLA

[   Consolidated Balance Sheets (Unaudited) - USD ($) $ in Millions  \
 0                                      Current assets
 1                           Cash and cash equivalents
 2                            Accounts receivable, net
 3                                           Inventory
 4           Prepaid expenses and other current assets
 5                                Total current assets
 6                  Property, plant and equipment, net
 7                 Operating lease right-of-use assets
 8                              Intangible assets, net
 9                                            Goodwill
 10                           Other non-current assets
 11                                       Total assets
 12                                Current liabilities
 13                                   Accounts payable
 14                      Accrued liabilities and other
 15                                   Deferred revenue
 16                                  Customer deposits
 17         Current portion of debt and finance leases
 18                          Total current liabilities
 19    Debt and finance leases, net of current portion
 20           Deferred revenue, net of current portion
 21                        Other long-term liabilities
 22                                  Total liabilities
 23            Commitments and contingencies (Note 12)
 24  Redeemable noncontrolling interests in subsidi...
 25                 Convertible senior notes (Note 10)
 26                               Stockholders' equity
 27  Preferred stock; $0.001 par value; 100 shares ...
 28  Common stock; $0.001 par value; 2,000 shares a...
 29                         Additional paid-in capital
 30      Accumulated other comprehensive income (loss)
 31                                Accumulated deficit
 32                         Total stockholders' equity
 33           Noncontrolling interests in subsidiaries
 34                       Total liabilities and equity
 35                  Operating Lease Vehicles [Member]
 36                                     Current assets
 37                      Operating lease vehicles, net
 38                      Solar Energy Systems [Member]
 39                                     Current assets
 40                          Solar energy systems, net
 41                                                NaN
 42                                                [1]

                                            Unnamed: 1 Sep. 30, 2020  \
 0                                                 NaN           NaN
 1                                                 NaN         14531
 2                                                 NaN          1757
 3                                                 NaN          4218
 4                                                 NaN          1238
 5                                                 NaN         21744
 6                                                 NaN         11848
 7                                                 NaN          1375
 8                                                 NaN           318
 9                                                 NaN           203
 10                                                NaN          1436
 11                                                NaN         45691
 12                                                NaN           NaN
 13                                                NaN          4958
 14                                                NaN          3252
 15                                                NaN          1258
 16                                                NaN           708
 17                                                NaN          3126
 18                                                NaN         13302
 19                                                NaN         10559
 20                                                NaN          1233
 21                                                NaN          3049
 22                                                NaN         28143
 23                                                NaN
 24                                                NaN           608
 25                                                NaN            48
 26                                                NaN           NaN
 27                                                NaN
 28                                                [1]             1
 29                                                [1]         21574
 30                                                NaN           125
 31                                                NaN         -5669
 32                                                NaN         16031
 33                                                NaN           861
 34                                                NaN         45691
 35                                                NaN           NaN
 36                                                NaN           NaN
 37                                                NaN          2742
 38                                                NaN           NaN
 39                                                NaN           NaN
 40                                                NaN          6025
 41                                                NaN           NaN
 42  Prior period results have been adjusted to ref...           NaN

    Dec. 31, 2019
 0            NaN
 1           6268
 2           1324
 3           3552
 4            959
 5          12103
 6          10396
 7           1218
 8            339
 9            198
 10          1470
 11         34309
 12           NaN
 13          3771
 14          3222
 15          1163
 16           726
 17          1785
 18         10667
 19         11634
 20          1207
 21          2691
 22         26199
 23
 24           643
 25           NaN
 26           NaN
 27
 28             1
 29         12736
 30           -36
 31         -6083
 32          6618
 33           849
 34         34309
 35           NaN
 36           NaN
 37          2447
 38           NaN
 39           NaN
 40          6138
 41           NaN
 42           NaN  ,
    Consolidated Statements of Operations (Unaudited) - USD ($) shares in Millions, $ in Millions  \
 0                                                 NaN
 1                                            Revenues
 2                                  Automotive leasing
 3                           Total automotive revenues
 4                                  Services and other
 5                                      Total revenues
 6                                    Cost of revenues
 7                                  Automotive leasing
 8                   Total automotive cost of revenues
 9                                  Services and other
 10                             Total cost of revenues
 11                                       Gross profit
 12                                 Operating expenses
 13                           Research and development
 14                Selling, general and administrative
 15                            Restructuring and other
 16                           Total operating expenses
 17                      Income (loss) from operations
 18                                    Interest income
 19                                   Interest expense
 20                        Other (expense) income, net
 21                  Income (loss) before income taxes
 22                         Provision for income taxes
 23                                  Net income (loss)
 24  Net income attributable to noncontrolling inte...
 25  Net income (loss) attributable to common stock...
 26           Less: Buy-out of noncontrolling interest
 27  Net income (loss) used in computing net income...
 28  Net income (loss) per share of common stock at...
 29                                              Basic
 30                                            Diluted
 31  Weighted average shares used in computing net ...
 32                                              Basic
 33                                            Diluted
 34                          Automotive Sales [Member]
 35                                           Revenues
 36                                           Revenues
 37                                   Cost of revenues
 38                                   Cost of revenues
 39             Energy Generation and Storage [Member]
 40                                           Revenues
 41                                           Revenues
 42                                   Cost of revenues
 43                                   Cost of revenues
 44                                                NaN
 45                                                [1]

                                            Unnamed: 1 3 Months Ended  \
 0                                                 NaN  Sep. 30, 2020
 1                                                 NaN            NaN
 2                                                 NaN            265
 3                                                 NaN           7611
 4                                                 NaN            581
 5                                                 NaN           8771
 6                                                 NaN            NaN
 7                                                 NaN            145
 8                                                 NaN           5506
 9                                                 NaN            644
 10                                                NaN           6708
 11                                                NaN           2063
 12                                                NaN            NaN
 13                                                NaN            366
 14                                                NaN            888
 15                                                NaN            NaN
 16                                                NaN           1254
 17                                                NaN            809
 18                                                NaN              6
 19                                                NaN           -163
 20                                                NaN            -97
 21                                                NaN            555
 22                                                NaN            186
 23                                                NaN            369
 24                                                NaN             38
 25                                                NaN            331
 26                                                NaN             31
 27                                                NaN            300
 28                                                NaN            NaN
 29                                                [1]           0.32
 30                                                [1]           0.27
 31                                                NaN            NaN
 32                                                [1]            937
 33                                                [1]           1105
 34                                                NaN            NaN
 35                                                NaN            NaN
 36                                                NaN           7346
 37                                                NaN            NaN
 38                                                NaN           5361
 39                                                NaN            NaN
 40                                                NaN            NaN
 41                                                NaN            579
 42                                                NaN            NaN
 43                                                NaN            558
 44                                                NaN            NaN
 45  Prior period results have been adjusted to ref...            NaN

        Unnamed: 3 9 Months Ended     Unnamed: 5
 0   Sep. 30, 2019  Sep. 30, 2020  Sep. 30, 2019
 1             NaN            NaN            NaN
 2             221            772            644
 3            5353          17922          14453
 4             548           1628           1646
 5            6303          20792          17194
 6             NaN            NaN            NaN
 7             117            415            340
 8            4131          13189          11464
 9             667           1850           2096
 10           5112          16228          14516
 11           1191           4564           2678
 12            NaN            NaN            NaN
 13            334            969            998
 14            596           2176           1947
 15            NaN            NaN            161
 16            930           3145           3106
 17            261           1419           -428
 18             15             24             34
 19           -185           -502           -515
 20             85           -166             70
 21            176            775           -839
 22             26            209             68
 23            150            566           -907
 24              7            115             60
 25            143            451           -967
 26            NaN             31              8
 27            143            420           -975
 28            NaN            NaN            NaN
 29           0.16           0.45          -1.11
 30           0.16            0.4          -1.11
 31            NaN            NaN            NaN
 32            897            927            882
 33            922           1059            882
 34            NaN            NaN            NaN
 35            NaN            NaN            NaN
 36           5132          17150          13809
 37            NaN            NaN            NaN
 38           4014          12774          11124
 39            NaN            NaN            NaN
 40            NaN            NaN            NaN
 41            402           1242           1095
 42            NaN            NaN            NaN
 43            314           1189            956
 44            NaN            NaN            NaN
 45            NaN            NaN            NaN  ,
   Consolidated Statements of Comprehensive Income (Loss) (Unaudited) - USD ($) $ in Millions  \
 0                                                NaN
 1  Statement Of Income And Comprehensive Income [...
 2                                  Net income (loss)
 3                 Other comprehensive income (loss):
 4            Foreign currency translation adjustment
 5                        Comprehensive income (loss)
 6  Less: Comprehensive income attributable to non...
 7  Comprehensive income (loss) attributable to co...

   3 Months Ended     Unnamed: 2 9 Months Ended     Unnamed: 4
 0  Sep. 30, 2020  Sep. 30, 2019  Sep. 30, 2020  Sep. 30, 2019
 1            NaN            NaN            NaN            NaN
 2            369            150            566           -907
 3            NaN            NaN            NaN            NaN
 4            165           -114            161           -112
 5            534             36            727          -1019
 6             38              7            115             60
 7            496             29            612          -1079  ,
    Consolidated Statements of Cash Flows (Unaudited) - USD ($) $ in Millions  \
 0                                                 NaN
 1                Cash Flows from Operating Activities
 2                                   Net income (loss)
 3   Adjustments to reconcile net income (loss) to ...
 4           Depreciation, amortization and impairment
 5                            Stock-based compensation
 6   Amortization of debt discounts and issuance costs
 7      Inventory and purchase commitments write-downs
 8                   Loss on disposals of fixed assets
 9        Foreign currency transaction net loss (gain)
 10   Non-cash interest and other operating activities
 11  Operating cash flow related to repayment of di...
 12  Changes in operating assets and liabilities, n...
 13                                Accounts receivable
 14                                          Inventory
 15                           Operating lease vehicles
 16          Prepaid expenses and other current assets
 17                           Other non-current assets
 18           Accounts payable and accrued liabilities
 19                                   Deferred revenue
 20                                  Customer deposits
 21                        Other long-term liabilities
 22          Net cash provided by operating activities
 23               Cash Flows from Investing Activities
 24  Purchases of property and equipment excluding ...
 25    Purchases of solar energy systems, net of sales
 26                       Receipt of government grants
 27                      Purchase of intangible assets
 28        Business combinations, net of cash acquired
 29              Net cash used in investing activities
 30               Cash Flows from Financing Activities
 31  Proceeds from issuances of common stock in pub...
 32  Proceeds from issuances of convertible and oth...
 33           Repayments of convertible and other debt
 34                    Collateralized lease repayments
 35  Proceeds from exercises of stock options and o...
 36               Principal payments on finance leases
 37                                Debt issuance costs
 38                Purchase of convertible note hedges
 39                 Proceeds from issuance of warrants
 40  Proceeds from investments by noncontrolling in...
 41  Distributions paid to noncontrolling interests...
 42  Payments for buy-outs of noncontrolling intere...
 43          Net cash provided by financing activities
 44  Effect of exchange rate changes on cash and ca...
 45  Net increase in cash and cash equivalents and ...
 46  Cash and cash equivalents and restricted cash,...
 47  Cash and cash equivalents and restricted cash,...
 48  Supplemental Non-Cash Investing and Financing ...
 49  Equity issued in connection with business comb...
 50  Acquisitions of property and equipment include...
 51  Leased assets obtained in exchange for finance...
 52  Leased assets obtained in exchange for operati...

    9 Months Ended     Unnamed: 2
 0   Sep. 30, 2020  Sep. 30, 2019
 1             NaN            NaN
 2             566           -907
 3             NaN            NaN
 4            1704           1577
 5            1101            617
 6             144            138
 7             140            167
 8              67             69
 9             144           -102
 10            116            189
 11            NaN           -188
 12            NaN            NaN
 13           -550           -150
 14           -602           -485
 15           -640           -467
 16           -290           -236
 17           -105             46
 18            765            143
 19            118            625
 20            -15           -114
 21            261             58
 22           2924            980
 23            NaN            NaN
 24          -2006           -915
 25            -62            -68
 26              1            NaN
 27             -5             -5
 28            -13            -45
 29          -2085          -1033
 30            NaN            NaN
 31           7282            848
 32           7826           7119
 33          -7537          -5601
 34           -224           -302
 35            361            167
 36           -248           -223
 37             -6            -32
 38            NaN           -476
 39            NaN            174
 40             23            153

In [7]:
RATIOS

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Context is key,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,Activity Ratios,NaN,NaN,NaN
3,NaN,Operating Efficiency or Asset Utilisation rati...,NaN,NaN,NaN
4,NaN,Numerator,Denominator,Ratio,NaN
...,...,...,...,...,...
81,NaN,Dividend Related Ratios,NaN,NaN,NaN
82,27.0,Common Share Dividends,Net Income,Payout Ratio,NaN
83,NaN,NaN,NaN,Please add values,NaN
84,28.0,Net Income - Common Share Dividends,Net Income,Retention Rate,NaN
85,NaN,NaN,NaN,Please add values,NaN